@font-face {
    font-family: Gilroy-Light;
    src: url("../../statics/fonts/gilroy/Gilroy-Light.otf");
}

@font-face {
    font-family: Gilroy-ExtraBold;
    src: url("../../statics/fonts/gilroy/Gilroy-ExtraBold.otf");
}