@import url("./font.css");

* {
    margin: 0px;
    font-family: Outfit, sans-serif;
    color: #000;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

::-webkit-scrollbar {
    display: none;
}