.main-header {
  display: flex;
  width: calc(100% - 40px);
  height: 90px;
  padding: 0 20px;
  align-items: center;
  gap: 50px;
  box-shadow: 0px 1px 2px 0px #9e9e9e;
}

.main-header>img {
  width: 232px;
  height: 73px;
}

.header-content {
  display: flex;
  align-items: center;
  column-gap: 41px;
}

.search-bar-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
}

.search-bar {
  min-width: 200px;
  width: calc(450px - 48px);
  height: 40px;
  border-radius: 20px;
  background-color: #f5f5f5;
  cursor: pointer;
  display: flex;
  padding: 0px 24px;
  align-items: center;
  gap: 28px;
  user-select: none;
}

.search-bar>img {
  width: 10px;
  height: 100%;
}

.search-bar>div,
.search-bar>span {
  font-size: 10px;
  letter-spacing: 0.5px;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-bar>div {
  color: #000;
  margin-left: -28px;
}

.search-bar>span {
  color: #9e9e9e;
}

.header-content>span {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
}

.header-content>span:hover {
  color: #987a62;
}

.header-content>.divider {
  width: 2px;
  height: 52px;
  background-color: #000;
}

.header-content>svg {
  min-width: 30px;
  height: 42px;
  cursor: pointer;
}

.header-content>svg path:first-of-type {
  stroke: #616161;
}

.header-content>svg path:last-of-type {
  fill: #616161;
}

.header-content>svg:hover path:first-of-type {
  stroke: #987a62;
}

.header-content>svg:first-of-type:active path:first-of-type {
  stroke: #fe02a6;
  fill: #fe02a6;
}

.header-content>svg:last-of-type:hover path:first-of-type {
  fill: #987a62;
}

.header-content>svg:hover path:last-of-type {
  fill: #987a62;
}